* {
	margin: 0px;
}

body, canvas, div {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
	position:absolute;
	display: block;
}

label {
	position:absolute;
	z-index: 2;
	color: #fff;
	font-family: "微软雅黑", Arial;
	font-size: 80px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

h1,h2 {
	text-align:center;
}
#reward_info1,#reward_info2,#noreward_info1, #xiaona_word {
	text-align:center;
}